@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

:root {
	--orange: #e44d26;
	--grey: #494747;
	--headervertical: 30px;
	--popup-blue: rgb(10, 140, 216);
	--background-black: rgb(37, 37, 39);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Oswald", sans-serif;
	color: white;
	background-color: var(--background-black);
}

header {
	display: flex;
	background-color: var(--orange);
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	height: max-content;
	width: 100%;
}

header > div {
	display: flex;
	align-items: center;
}

header i {
	font-size: 2rem;
}

header h1,
header > div > i,
.homebutton {
	padding-left: 10px;
	text-shadow: 2px 2px 4px #000000;
}

/* Main */

main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	padding: 10px 2%;
	margin-top: 160px;
}

.moviecontainer {
	width: 100%;
	border: 2px solid var(--orange);
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 5px;
	min-height: 275px;
	/* height: 275px; */
}

.imgcontain > img {
	/* height: 275px; */
	width: 100%;
}

.moviecontainer .details {
	padding: 10px;
}

.homebutton:hover {
	cursor: pointer;
}

@media screen and (min-width: 610px) {
	main {
		margin-top: 70px;
	}
}

@media screen and (min-width: 768px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*PAGINATION STYLES*/
.pagination {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	background-color: #494747;
	color: white;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0.5rem;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
}
.page_item {
	padding: 0.75rem;
	border: white 1px solid;
	border-radius: 5px;
	font-size: 0.75rem;
	margin-left: 10px;
	margin-right: 10px;
}
.page_item:hover {
	background-color: #6d6a6a;
}
.active {
	background-color: #e44d26;
	color: white;
}
